# Ignore node_modules and logs
node_modules
npm-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local
.env.production

# Ignore build artifacts
dist
coverage

# Ignore system files
.vscode/
.git/
